<a href="/">Home</a>
<h2><%=@robot.id%>. <%=@robot.name%></h2>
<ul><%=@robot.city%></ul>
<ul><%=@robot.state%></ul>
<ul><%=@robot.department%></ul>
<ul><%=@robot.birthday%></ul>
<ul><%=@robot.hired%></ul>
<img src="https://robohash.org/<%=@robot.avatar%>.png">
